.uh_Form_Container {
  margin-top: 3rem;
}

.formGroup {
  margin-bottom: 20px; /* Add margin between form fields */
}

.inputRoot {
  border: 1px solid #ccc;
  padding: 10px; /* Add padding to create space for the border */
  transition: border-color 0.2s;
  margin-bottom: 10px;
}

.inputFocused {
  border-color: #007bff; /* Change border color when input is focused */
}
