.FormMain {
  height: 70%;
  background-color: white;
  .FormContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .FormLeftSide {
      margin-left: 1rem;
      display: flex;
      justify-content: space-between;
      width: 40%;
    }
    .FormRightSide {
      width: 40%;
    }
  }
}

.heading {
  margin-left: 1rem;
}
.MenuItem {
  margin-top: 40%;
}
